<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.UserMapper">

    <!-- 与 sys_user 表一一对应，id/create_time/update_time 由 BaseDO 承载；
         create_by/update_by/del_flag 等审计字段后续由 BizDO 启用，当前不映射 -->
    <sql id="selectColumns">
        id, dept_id, login_name, user_name, user_type, email, phonenumber, sex, avatar, password, salt, status, login_ip, login_date, pwd_update_date, remark, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="deptId != null">
                AND dept_id = #{deptId}
            </if>
            <if test="loginName != null and loginName != ''">
                AND login_name = #{loginName}
            </if>
            <if test="userName != null and userName != ''">
                AND user_name = #{userName}
            </if>
            <if test="userType != null and userType != ''">
                AND user_type = #{userType}
            </if>
            <if test="email != null and email != ''">
                AND email = #{email}
            </if>
            <if test="phonenumber != null and phonenumber != ''">
                AND phonenumber = #{phonenumber}
            </if>
            <if test="sex != null and sex != ''">
                AND sex = #{sex}
            </if>
            <if test="avatar != null and avatar != ''">
                AND avatar = #{avatar}
            </if>
            <if test="password != null and password != ''">
                AND password = #{password}
            </if>
            <if test="salt != null and salt != ''">
                AND salt = #{salt}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="loginIp != null and loginIp != ''">
                AND login_ip = #{loginIp}
            </if>
            <if test="loginDate != null">
                AND login_date = #{loginDate}
            </if>
            <if test="pwdUpdateDate != null">
                AND pwd_update_date = #{pwdUpdateDate}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark}
            </if>
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.UserDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_user
        WHERE id = #{id}
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.UserDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_user
        <include refid="queryConditions"/>
        ORDER BY id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.UserDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_user
        <include refid="queryConditions"/>
        ORDER BY id DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM sys_user
        <include refid="queryConditions"/>
    </select>

    <!-- create_time/update_time 由数据库自动维护（DEFAULT CURRENT_TIMESTAMP / ON UPDATE），不参与插入 -->
    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.UserDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (dept_id, login_name, user_name, user_type, email, phonenumber, sex, avatar, password, salt, status, login_ip, login_date, pwd_update_date, remark)
        VALUES (#{deptId}, #{loginName}, #{userName}, #{userType}, #{email}, #{phonenumber}, #{sex}, #{avatar}, #{password}, #{salt}, #{status}, #{loginIp}, #{loginDate}, #{pwdUpdateDate}, #{remark})
    </insert>

    <!-- 全量更新：覆盖所有业务字段；create_time/update_time 由数据库自动维护 -->
    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.UserDO">
        UPDATE sys_user
        SET dept_id = #{deptId},
            login_name = #{loginName},
            user_name = #{userName},
            user_type = #{userType},
            email = #{email},
            phonenumber = #{phonenumber},
            sex = #{sex},
            avatar = #{avatar},
            password = #{password},
            salt = #{salt},
            status = #{status},
            login_ip = #{loginIp},
            login_date = #{loginDate},
            pwd_update_date = #{pwdUpdateDate},
            remark = #{remark}
        WHERE id = #{id}
    </update>

    <!-- 按条件更新：只更新传入的非空字段（部分更新），适合只改几个字段的场景；
         注意：无法把字段更新为 null，需要置 null 请用 update 全量更新；
         update_time 由数据库 ON UPDATE CURRENT_TIMESTAMP 自动维护 -->
    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.UserDO">
        UPDATE sys_user
        <set>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="loginName != null">
                login_name = #{loginName},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="userType != null">
                user_type = #{userType},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phonenumber != null">
                phonenumber = #{phonenumber},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="salt != null">
                salt = #{salt},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="loginIp != null">
                login_ip = #{loginIp},
            </if>
            <if test="loginDate != null">
                login_date = #{loginDate},
            </if>
            <if test="pwdUpdateDate != null">
                pwd_update_date = #{pwdUpdateDate},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM sys_user WHERE id = #{id}
    </delete>
</mapper>
